<!DOCTYPE html>
<html>
  <head>
    <title>Paul Camper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <% for(var i=0; i < data.length; i++) { %>
         <tr>
           <td><%= data[i].Profile.Name %></td>
           <td><%= data[i].Profile.CamperType %></td>
         </tr>
      <% } %>
      </table>
  </body>
</html>
